@import "./variables";

.order-form {
  display: flex;
  flex-direction: column;
  &__input {
    margin-bottom: 1.8rem;
    width: 55%;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #3e3b3b;
    font-size: 2rem;
    line-height: 2;

    @include md {
      width: 70%;
    }
    @include sm {
      width: 90%;
    }
    &:focus {
      outline: none;
      border-left: 0.5rem solid #111430;
    }
    &:placeholder-shown {
      font-size: 2rem;
      font-weight: 200;
    }
    &--button {
      @include primary-button-style;
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      width: 18rem;
    }
  }
  &__file {
    border: 1px solid #6e776e;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 2.5rem;
    font-family: serif;
    font-weight: 700;
    color: #1e2727;
    background-color: #00ac3d21;
    margin-left: 3rem;
    cursor: pointer;
    &:hover {
      background-color: #08cc4c93;
    }
    &--input {
      display: none;
    }
  }
}
